@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Forum", serif;
}

header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 243, 232);
  padding: 0 48px;

  svg {
    width: 29px;
    height: 34px;
    fill: rgb(30, 63, 34);
    text {
      fill: white;
      font-size: 30px;
    }
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 10px;

      a {
        text-decoration: none;
        font-size: 15px;
        color: #1e3f22;
      }
    }
  }

  p {
    font-size: 20px;
  }
}

main {
  min-height: 100vh;

  /* section first */

  section.first {
    height: 917px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-image: url(./beds.png);
    background-image: url(./image.avif); 
     background-repeat: no-repeat; */

    div.card {
      width: 446px;
      height: 416px;
      background-color: rgb(244, 243, 232);
      padding: 54px 34px;

      h1 {
        font-size: 51px;
        color: rgb(30, 63, 34);
        font-weight: 400;
      }
      p {
        font-size: 17px;
        color: rgb(30, 63, 34);
        font-weight: 400;
        line-height: 26px;
        margin-top: 18px;
        margin-bottom: 35px;
      }
      button {
        width: 154px;
        height: 45px;
        background-color: rgb(30, 63, 34);
        border: none;
        color: #eeecea;
        font-size: 17px;
      }
    }
  }

  /* section second */

  section.second {
    background-color: #f4f3e8;
    height: 1053px;
    color: #1e3f22;

    h2 {
      text-align: center;
      font-size: 56px;
      font-weight: 400;
      padding-top: 65px;
      margin-bottom: 50px;
    }
    div.container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      div.cards {
        width: 417px;
        height: 775px;
        border: 1px solid rgb(206, 205, 194);
        img {
          width: 417px;
          height: 417px;
        }

        div.session {
          display: flex;
          flex-direction: column;
          padding: 31px;

          h3 {
            font-size: 28px;
            font-weight: 400;
          }
          p,
          span {
            font-size: 17px;
          }

          p {
            margin-top: 19px;
          }
          span {
            margin-bottom: 15px;
          }
          div.line {
            width: 355px;
            height: 1px;
            border: 1px solid rgb(206, 205, 194);
            margin: 24px 0;
          }
          button {
            width: 107px;
            height: 40px;
            background-color: #1e3f22;
            border: none;
            color: #f4f3e8;
            font-size: 16px;
            margin-top: 8px;
          }
        }
      }
    }
  }

  /* section third */

  section.third {
    height: 931px;
    background-color: #d1dcce;
    display: flex;
    color: #1e3f22;
    img {
      width: 720px;
      height: 931px;
    }
    div.green_text {
      padding: 60px 0 0 50px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      h2 {
        font-size: 54px;
        width: 331px;
        font-weight: 500;
      }
      h3 {
        font-size: 25px;
        font-weight: 300;
      }
      p {
        font-size: 18px;
        width: 413px;
      }
      button {
        width: 154px;
        height: 45px;
        background-color: #1e3f22;
        border: none;
        color: #eeecea;
        font-size: 17px;
        margin-top: 300px;
      }
    }
  }
  /* section fourth */
  section.fourth {
    display: flex;
    svg {
      width: 12px;
      height: 24px;
    }

    div.light_green {
      height: 614px;
      width: 720px;
      background-color: #d1dcce;
      padding: 50px 30px;
      h2,
      p {
        color: #1e3f22;
      }
    }
    div.dark_green {
      height: 806px;
      width: 720px;
      background-color: #1e3f22;
      padding: 50px 30px;
      h2,
      p {
        color: #f4f3e8;
      }
    }

    div.light_white {
      background-color: #f4f3e8;
      height: 1420px;
      width: 720px;
      padding: 50px 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h4,
      p {
        color: #1e3f22;
      }
      p {
        width: 363px;
      }
    }
    div.two_parts {
      h2 {
        font-size: 54px;
      }
      p {
        font-size: 17px;
      }
    }
    div.line_two {
      width: 363px;
      height: 1px;
      border: 1px solid rgb(206, 205, 194);
      margin: 74px 0 37px;
    }
  }
}
