@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Forum", serif;
}

header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 243, 232);
  padding: 0 48px;

  svg {
    width: 29px;
    height: 34px;
    fill: rgb(30, 63, 34);
    text {
      fill: white;
      font-size: 30px;
    }
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 10px;

      a {
        text-decoration: none;
        font-size: 15px;
        color: #1e3f22;
      }
    }
  }

  p {
    font-size: 20px;
  }
}
